body{
  margin :0;
  padding :0;
  display: inline-block;
  text-align: center;
}
.nav{
  background-color:rgba(225,0,4,0.7);
  width:960px;
  height : 80px;
  z-index:9999;
  position:absolute;
  display:inline-block;
}
.logo{
  color: white;
  font-size: 30px;
  font-family : "Roboto";
  margin-right: 450px;
  text-transform:uppercase;
  letter-spacing: 2px;
}
.button{
  font-size:18px;
  font-family : "Noto Serif";
  margin-left:10px;
}
.header{
  height:600px;
  text-align:center;
  display:inline-block;
  font-size: 20px;
  width:960px;
  
}
h1{
  font-size:100px;
  font-family:"Lobster";
  font-weight: lighter;
  text-align: center;
  display:inline-block;
  padding-top: 20px;
  color:rgba(255,255,255,0.7);
}
h4{
  font-size:20px;
  font-family:"Noto Serif";
  text-align: center;
  display:inline-block;
  padding-top: 150px;
  color:rgba(255,255,255,0.7);
}
.banner {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/d7/53/a5/d753a5ad460863313fac655db4b97488.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 600px;
  width: 100%;
}
.section{
  height:800px;
  width:960px;
  background-color:rgb(48,49,51);
  padding-top:50px;
  display:inline-block;
}

img.section {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
  background-size: cover;
 width: 300px;
  height:300px;
  background-position: center;
  margin: 0px 2px 0px 2px;
  text-align: center;
 
  
}

.section-img{
  width:300px;
  height:800px;
  background-position: center;
  margin: 0px 0px 0px 5px;
  padding: 0px 0px;
  display: inline-block;
  text-align: center;
}

.footer{
  width:960px;
  height: 60px;
  font-size:18px;
  background-color:rgb(225,0,4);
  text-align:center;
  display:inline-block;
}

ul{
  font-size:18px;
  padding-left:0px;
  padding: 5px 20px;
}
li{  margin-right: 10px;
  margin-left: 0px;
  display: inline-block;
  font-size:18px;
  text-align:left;
  

}

p{
  font-size: 18px;
  font-weight: bold;
  font-family:"Noto Serif";
  margin:10;
  display: inline-block;
  text-align: center;
  
}

li{
  font-size:25px;
}

